@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Lexend Deca", sans-serif;
    min-height: 100vh;
    background-color: $very-light-gray;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.container {
    border-radius: 1rem;
    overflow: hidden;
    margin-bottom: 4rem;
}
